* {
    padding: 0;
    margin: 0;
}

body {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.hero_seccion {
    background-image: url("../img/movieCollection.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/**/
#App {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/**/
.shopping-cart {
    border-radius: 25%;
    border: 1px solid #000;
    background-color: #ff0000;
    padding: 1rem;
}

.shopping-cart div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;

}

.listCart {
    text-align: start;
    margin-top: 5rem;
    padding: 0 4rem;
}

/* Definicion CARD */
.card {
    box-shadow: 0 4px 8px 0 rgb(34, 34, 34);
    transition: 0.3s;
    padding: 1rem;
    margin: 0 0 1rem 1rem;
}

.card:hover {
    box-shadow: 0 8px 16px 0 #ff0000;
}

.card-body {
    margin-top: 1rem;
    padding: 2px 16px;
    border-bottom: 1px solid #000;
}

.img-card {
    width: 100%;
}

.containerCard p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.containerButton {
    padding: 1rem;
}

.btn {
    margin: 1rem;
    background-color: #0275d8;
    border: none;
    color: white;
    padding: 0.9rem 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
}
.btn:hover {
    background-color: #4CAF50;
    color: white;
}

/* Footer */
.footer {
    height: 20vh;
    background-color: #000;
}

/* Definicion del container*/
.container {
    width: 100%;
    margin: 0 auto;
}

@media (min-width: 0px) {
    .container {
        width: 80%;
    }
}

@media (min-width: 576px) {
    .container {
        width: 80%;
    }
}

@media (min-width: 768px) {
    .container {
        width: 80%;
    }
}

@media (min-width: 992px) {
    .container {
        width: 80%;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 80%;
    }
}

@media (min-width: 1400px) {
    .container {
        width: 80%;
    }
}

.row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

/* Grillas de columnas */
.col-12 {
    grid-column: span 12
}

.col-11 {
    grid-column: span 11
}

.col-10 {
    grid-column: span 10
}

.col-9 {
    grid-column: span 9
}

.col-8 {
    grid-column: span 8
}

.col-7 {
    grid-column: span 7
}

.col-6 {
    grid-column: span 6
}

.col-5 {
    grid-column: span 5
}

.col-4 {
    grid-column: span 4
}

.col-3 {
    grid-column: span 3
}

.col-2 {
    grid-column: span 2
}

.col-1 {
    grid-column: span 1
}

@media (min-width: 576px) {
    .col-sm-12 {
        grid-column: span 12
    }

    .col-sm-11 {
        grid-column: span 11
    }

    .col-sm-10 {
        grid-column: span 10
    }

    .col-sm-9 {
        grid-column: span 9
    }

    .col-sm-8 {
        grid-column: span 8
    }

    .col-sm-7 {
        grid-column: span 7
    }

    .col-sm-6 {
        grid-column: span 6
    }

    .col-sm-5 {
        grid-column: span 5
    }

    .col-sm-4 {
        grid-column: span 4
    }

    .col-sm-3 {
        grid-column: span 3
    }

    .col-sm-2 {
        grid-column: span 2
    }

    .col-sm-1 {
        grid-column: span 1
    }
}

@media (min-width: 768px) {
    .col-md-12 {
        grid-column: span 12
    }

    .col-md-11 {
        grid-column: span 11
    }

    .col-md-10 {
        grid-column: span 10
    }

    .col-md-9 {
        grid-column: span 9
    }

    .col-md-8 {
        grid-column: span 8
    }

    .col-md-7 {
        grid-column: span 7
    }

    .col-md-6 {
        grid-column: span 6
    }

    .col-md-5 {
        grid-column: span 5
    }

    .col-md-4 {
        grid-column: span 4
    }

    .col-md-3 {
        grid-column: span 3
    }

    .col-md-2 {
        grid-column: span 2
    }

    .col-md-1 {
        grid-column: span 1
    }
}

@media (min-width: 992px) {
    .col-lg-12 {
        grid-column: span 12
    }

    .col-lg-11 {
        grid-column: span 11
    }

    .col-lg-10 {
        grid-column: span 10
    }

    .col-lg-9 {
        grid-column: span 9
    }

    .col-lg-8 {
        grid-column: span 8
    }

    .col-lg-7 {
        grid-column: span 7
    }

    .col-lg-6 {
        grid-column: span 6
    }

    .col-lg-5 {
        grid-column: span 5
    }

    .col-lg-4 {
        grid-column: span 4
    }

    .col-lg-3 {
        grid-column: span 3
    }

    .col-lg-2 {
        grid-column: span 2
    }

    .col-lg-1 {
        grid-column: span 1
    }
}

@media (min-width: 1200px) {
    .col-xl-12 {
        grid-column: span 12
    }

    .col-xl-11 {
        grid-column: span 11
    }

    .col-xl-10 {
        grid-column: span 10
    }

    .col-xl-9 {
        grid-column: span 9
    }

    .col-xl-8 {
        grid-column: span 8
    }

    .col-xl-7 {
        grid-column: span 7
    }

    .col-xl-6 {
        grid-column: span 6
    }

    .col-xl-5 {
        grid-column: span 5
    }

    .col-xl-4 {
        grid-column: span 4
    }

    .col-xl-3 {
        grid-column: span 3
    }

    .col-xl-2 {
        grid-column: span 2
    }

    .col-xl-1 {
        grid-column: span 1
    }
}

@media (min-width: 1400px) {
    .col-xxl-12 {
        grid-column: span 12
    }

    .col-xxl-11 {
        grid-column: span 11
    }

    .col-xxl-10 {
        grid-column: span 10
    }

    .col-xxl-9 {
        grid-column: span 9
    }

    .col-xxl-8 {
        grid-column: span 8
    }

    .col-xl-7 {
        grid-column: span 7
    }

    .col-xxl-6 {
        grid-column: span 6
    }

    .col-xxl-5 {
        grid-column: span 5
    }

    .col-xxl-4 {
        grid-column: span 4
    }

    .col-xxl-3 {
        grid-column: span 3
    }

    .col-xxl-2 {
        grid-column: span 2
    }

    .col-xxl-1 {
        grid-column: span 1
    }
}